<header>
  <div class="container">
    <div class="auth-suggest">
      <span>Not a user?</span><a routerLink="../signup">Sign Up</a>
    </div>
    <div class="page-title">
      <h4>Sign in to TxTag</h4>
    </div>
  </div>
</header>

<div class="content">
  <div [ngClass]="{'progress':loginInProgress}" id="auth-card" class="col-sm-6 offset-sm-3">
    <form (submit)="attemptLogin()" [formGroup]="loginForm">
      <div>
        <label for="email">Email</label>
        <input autocomplete="email" formControlName="email" required type="email" id="email" placeholder="yahoo@gmail.com" />
        <div *ngIf="loginForm.controls['email'].errors" class="form-errors">
          <small *ngIf="!loginForm.controls['email'].pristine || loginForm.controls['email'].touched" class="error">A valid email address is required</small>
        </div>
      </div>
      <div>
        <label for="password">Password</label>
        <input autocomplete="current-password" formControlName="password" required type="password" id="password" placeholder="Password" />
        <div *ngIf="loginForm.controls['password'].errors" class="form-errors">
          <small *ngIf="!loginForm.controls['password'].pristine || loginForm.controls['password'].touched" class="error">Password is required</small>
        </div>
      </div>
      <div *ngIf="response" class="form-errors">
        <small *ngFor="let error of response?.messages" class="error" [innerHTML]="error"></small>
      </div>
      <div class="actions">
        <input [disabled]="!loginForm.valid || loginInProgress" type="submit" value="Sign In" />
      </div>
    </form>
  </div>
</div>
